@import "modules/_index";

html { box-sizing: border-box; }
*,*:before,*:after { box-sizing: inherit; }

body {
	max-width: 700px;
	margin: 0 auto;
	background: #f6f5eb;
	font-family: $brandSerif;
}


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.cover-top {
	background: #fff;
	padding: 6% 10% 12%;
	position: relative;
	a {
		color: #222;
	}
	.sub-title {
		color: $brandBurntOrange;
		margin-top: 5px;
		font-style: italic;
		text-align: left;
		display: block;
	}
	.book-number {

	}
}

.cover-main {
	padding: 13% 10% 10% 10%;
	position: relative;
	background: $brandPrimaryColor;
	.author {
		color: #222;
		font-size: 30px;
		font-weight: 600;
		padding-bottom: 15px;
		margin-bottom: 40px;
		border-bottom: 2px solid $brandDarkGrey;
	}
}
